<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2 style="text-align: center">Форма удаления автомобиля</h2>
<form method="post">
    {% csrf_token %}
    <table class="table">
  <thead>
      <th scope="col">Бренд</th>
      <th scope="col">Тип двигателя</th>
      <th scope="col">Год сборки</th>
      <th scope="col">Цвет кузова</th>
  </thead>
  <tbody>
      <td>{{ car.brand }}</td>
      <td>{{ car.engine }}</td>
      <td>{{ car.year }}</td>
      <td>{{ car.color }}</td>
  </tbody>
</table>
    <button>Удалить</button>
</form>
</body>
</html>