<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2 style="text-align: center">Форма создания автомобиля</h2>
<form method="post">
    {% csrf_token %}
    <p>Марка авто: <input type="text" name="brand"></p>
    <p>Тип двигателя: <select name="engine">
        <option value="">Выберите из списка</option>
        <option value="Бензин">Бензин</option>
        <option value="Дизель">Дизель</option>
        <option value="Газ">Газ</option>
        <option value="Гибрид">Гибрид</option>
    </select></p>
    <p>Год сборки: <select name="year">
        <option value="">Выберите из списка</option>
        <option value="2022">2022</option>
        <option value="2021">2021</option>
        <option value="2020">2020</option>
        <option value="2019">2019</option>
        <option value="2018">2018</option>
        <option value="2017">2017</option>
        <option value="2016">2016</option>
        <option value="2015">2015</option>
        <option value="2014">2014</option>
        <option value="2013">2013</option>
        <option value="2012">2012</option>
        <option value="2011">2011</option>
        <option value="2010">2010</option>
        <option value="2009">2009</option>
        <option value="2008">2008</option>
        <option value="2007">2007</option>
        <option value="2006">2006</option>
        <option value="2005">2005</option>
        <option value="2004">2004</option>
        <option value="2003">2003</option>
        <option value="2002">2002</option>
        <option value="2001">2001</option>
        <option value="2000">2000</option>
        <option value="Старше 2000">Старше 2000</option>
    </select></p>
    <p>Цвет кузова: <input type="text" name="color"></p>
    <button>Сохранить</button>
</form>
</body>
</html>